In [1]:
import pandas as pd

In [68]:
coding_dict = pd.read_excel('./../data/coding_dict.xlsx', sheet_name='work_doc')
price_data = pd.read_csv('./../data/PRICE_dataset.csv')

/var/folders/dn/ty7dqj6j1375mrtwjyfvjk2h0000gn/T/ipykernel_64990/507316752.py:2: DtypeWarning: Columns (72) have mixed types. Specify dtype option on import or set low_memory=False.
  price_data = pd.read_csv('./../data/PRICE_dataset.csv')

In [70]:
# check if all price data cols are present in coding dict or not
cols = price_data.columns
for price_data_col in cols:
    if price_data_col not in list(coding_dict['Variable Name']):
        print("This col from price data is not present in coding dict variable name " + price_data_col)

# Update Q10 related columns to match with coding dict
q10_map = {"Q10_1": "Q10_1A", 
           "Q10_2": "Q10_2A", 
           "Q10_3": "Q10_3A", 
           "Q10_4": "Q10_4A", 
           "Q10_5": "Q10_5A", 
           "Q10_6": "Q10_6A",
           "Q10_7": "Q10_7A",
           "Q10_8": "Q10_8A",
           "Q10_9": "Q10_9A",
           "Q10_10": "Q10_10A",
           "Q10_11": "Q10_11A",
           "Q10_12": "Q10_12A"}
price_data.rename(columns=q10_map, inplace=True)

# check if all price data cols are present in coding dict or not
cols = price_data.columns
print("rechecking if all columns from price data are there in coding dict variable name or not")
for price_data_col in cols:
    if price_data_col not in list(coding_dict['Variable Name']):
        print("This col is not present in raw data " + price_data_col)

rechecking if all columns from price data are there in coding dict variable name or not

In [75]:
list(coding_dict.loc[coding_dict['Variable Name'] == str('Q1_2'), 'Code'])

['state_code']

In [78]:
# update price data; col names
rename_col_dict = {}
for old_col in list(price_data.columns):
    new_col = list(coding_dict.loc[coding_dict['Variable Name'] == str(old_col), 'Code'])[0]
    print("Mapping col name of raw data from " + old_col + " >> " + new_col)
    rename_col_dict[old_col] = new_col
price_data.rename(columns=rename_col_dict, inplace=True)

Mapping col name of raw data from Q1_1 >> uuid
Mapping col name of raw data from Q1_2 >> state_code
Mapping col name of raw data from Q1_3 >> state_name
Mapping col name of raw data from Q1_4 >> rural_or_urban
Mapping col name of raw data from Q1_5 >> district_code
Mapping col name of raw data from Q1_6 >> district_name
Mapping col name of raw data from Q1_7 >> sub_district_name
Mapping col name of raw data from Q1_8 >> town_name
Mapping col name of raw data from Q1_9 >> location_code
Mapping col name of raw data from Q1_10 >> ward_name
Mapping col name of raw data from Q2_3 >> cwe_age
Mapping col name of raw data from Q2_4 >> cwe_gender
Mapping col name of raw data from Q2_5 >> cwe_marital_status
Mapping col name of raw data from Q2_6 >> cwe_education_level
Mapping col name of raw data from Q2_7 >> primary_occupation
Mapping col name of raw data from Q2_8 >> household_size
Mapping col name of raw data from Q2_9 >> earner_in_household
Mapping col name of raw data from Q2_10 >> mobile_phone_is
Mapping col name of raw data from Q2_11 >> mobile_phone_type
Mapping col name of raw data from Q2_12 >> aadhar_card_is
Mapping col name of raw data from Q2_13 >> bank_account_is
Mapping col name of raw data from Q2_14 >> used_internet
Mapping col name of raw data from Q2_15 >> digital_payments_done
Mapping col name of raw data from Q2_16 >> internet_user_is
Mapping col name of raw data from Q2_17 >> internet_access_how
Mapping col name of raw data from Q2_18_a >> internet_user_email_is
Mapping col name of raw data from Q2_18_b >> internet_user_search_is
Mapping col name of raw data from Q2_18_c >> internet_user_collaboration_is
Mapping col name of raw data from Q2_18_d >> internet_user_social_is
Mapping col name of raw data from Q2_18_e >> internet_user_enterntainment_is
Mapping col name of raw data from Q2_18_f >> internet_user_onlinepayments_is
Mapping col name of raw data from Q2_18_g >> internet_user_shopping_is
Mapping col name of raw data from Q2_18_h >> internet_user_banking_is
Mapping col name of raw data from Q2_18_i >> internet_user_education_is
Mapping col name of raw data from Q2_18_j >> internet_user_others_is
Mapping col name of raw data from Q2_19 >> total_bank_accounts
Mapping col name of raw data from Q2_20 >> bank_accounts_operate
Mapping col name of raw data from Q2_21a >> bank_account_jandhan_is
Mapping col name of raw data from Q2_21b >> bank_account_savings_is
Mapping col name of raw data from Q2_21c >> bank_accounts_current_is
Mapping col name of raw data from Q2_21d >> bank_accounts_huf_is
Mapping col name of raw data from Q2_22_1 >> type_of_bank_psu_is
Mapping col name of raw data from Q2_22_2 >> type_of_bank_private_is
Mapping col name of raw data from Q2_22_3 >> type_of_bank_cooperative_is
Mapping col name of raw data from Q2_23 >> sms_from_bank_is
Mapping col name of raw data from Q2_24 >> adhaar_kyc_is
Mapping col name of raw data from Q2_25 >> mobile_banking_is
Mapping col name of raw data from Q2_26 >> bank_mitra_correspondent_is
Mapping col name of raw data from Q2_27a >> debit_card_owner_is
Mapping col name of raw data from Q2_27b >> credit_card_owner_is
Mapping col name of raw data from Q2_28a >> debit_card_planned_is
Mapping col name of raw data from Q2_28b >> credit_card_planned_is
Mapping col name of raw data from Q2_29_1 >> card_purpose_withdraw_is
Mapping col name of raw data from Q2_29_2 >> card_purpose_payinstore_is
Mapping col name of raw data from Q2_29_3 >> card_purpose_onlinetransactions_is
Mapping col name of raw data from Q2_29_4 >> card_purpose_notinuse_is
Mapping col name of raw data from Q2_29_5 >> card_purpose_others_is
Mapping col name of raw data from Q2_30a >> rating_safe_n_secure
Mapping col name of raw data from Q2_30b >> rating_financial_needs
Mapping col name of raw data from Q2_30c >> rating_atm_network
Mapping col name of raw data from Q2_30d >> rating_mobile_banking_tech
Mapping col name of raw data from Q2_30e >> rating_bank_in_viccinity
Mapping col name of raw data from Q2_31 >> type_of_digital_payments_is
Mapping col name of raw data from Q2_32 >> any_digital_payments_money_transfers_is
Mapping col name of raw data from Q2_33_1 >> type_of_digital_payments_cards_is
Mapping col name of raw data from Q2_33_2 >> type_of_digital_payments_ussd_is
Mapping col name of raw data from Q2_33_3 >> type_of_digital_payments_adhar_enabled_is
Mapping col name of raw data from Q2_33_4 >> type_of_digital_payments_upi_is
Mapping col name of raw data from Q2_33_5 >> type_of_digital_payments_mobilewallets_is
Mapping col name of raw data from Q2_33_6 >> type_of_digital_payments_internetbanking_is
Mapping col name of raw data from Q2_33_7 >> type_of_digital_payments_mobilebanking_is
Mapping col name of raw data from Q2_34 >> type_of_digital_payments_aspiration_is
Mapping col name of raw data from Q2_35 >> barrier_to_digital_payment
Mapping col name of raw data from Q2_36 >> digital_payments_stopped_is
Mapping col name of raw data from Q2_37 >> digital_payments_stopped_for
Mapping col name of raw data from Q2_38 >> type_of_ration_card_is
Mapping col name of raw data from Q2_39a1 >> type_of_ration_card_is_pmkisan
Mapping col name of raw data from Q2_39a2 >> type_of_ration_card_is_pmkisan_amount
Mapping col name of raw data from Q2_39b1 >> type_of_ration_card_is_pmjdy
Mapping col name of raw data from Q2_39b2 >> type_of_ration_card_is_pmjdy_amount
Mapping col name of raw data from Q2_39c1 >> type_of_ration_card_is_abovesixtywnd
Mapping col name of raw data from Q2_39c2 >> type_of_ration_card_is_abovesixtywnd_amount
Mapping col name of raw data from Q2_39d1 >> type_of_ration_card_is_mnrega
Mapping col name of raw data from Q2_39d2 >> type_of_ration_card_is_mnrega_amount
Mapping col name of raw data from Q2_39e1 >> type_of_ration_card_is_pmjay
Mapping col name of raw data from Q2_39e2 >> type_of_ration_card_is_pmjay_amount
Mapping col name of raw data from Q2_40a >> minimum_wheat_req_kg
Mapping col name of raw data from Q2_40b >> minimum_rick_req_kg
Mapping col name of raw data from Q2_40c >> minimum_pulses_req_kg
Mapping col name of raw data from Q2_41 >> pm_garib_kalyan_ann_yojna_is
Mapping col name of raw data from Q2_42 >> pm_garib_kalyan_ann_yojna_months
Mapping col name of raw data from Q2_43a >> wheat_received_per_month_pmgaribkalyan
Mapping col name of raw data from Q2_43b >> rice_received_per_month_pmgaribkalyan
Mapping col name of raw data from Q2_43c >> pulses_received_per_month_pmgaribkalyan
Mapping col name of raw data from Q2_44 >> quality_of_grain_at_pds
Mapping col name of raw data from Q3_1 >> ownership_status_household
Mapping col name of raw data from Q3_2 >> monthly_rent
Mapping col name of raw data from Q3_3a >> broadband_connection_is
Mapping col name of raw data from Q3_3b >> cable_dish_is
Mapping col name of raw data from Q3_3c >> gas_is
Mapping col name of raw data from Q3_4 >> electricity_meter_is
Mapping col name of raw data from Q3_5 >> electricity_received_per_day
Mapping col name of raw data from Q3_6 >> electricity_bill_monthly
Mapping col name of raw data from Q3_7 >> water_in_tap_is
Mapping col name of raw data from Q3_8 >> water_primary_source
Mapping col name of raw data from Q3_9 >> water_adequate_is
Mapping col name of raw data from Q3_10 >> water_purify_how
Mapping col name of raw data from Q3_11 >> water_source_distance
Mapping col name of raw data from Q3_12 >> toilet_access_in_household
Mapping col name of raw data from Q3_13 >> toilet_constructed_when
Mapping col name of raw data from Q3_14 >> toilet_assisstance_from_govt
Mapping col name of raw data from Q3_15 >> toilet_amount_received
Mapping col name of raw data from Q3_16 >> toilet_with_running_water
Mapping col name of raw data from Q3_17 >> open_defacation_in_household
Mapping col name of raw data from Q3_18 >> cooking_fuel_used
Mapping col name of raw data from Q3_19 >> pmuy_cash_transfer_is
Mapping col name of raw data from Q3_20 >> pmuy_amount
Mapping col name of raw data from Q5_1 >> annual_household_income_range
Mapping col name of raw data from Q5_2 >> annual_household_income_amount
Mapping col name of raw data from Q5_3 >> annual_self_employed_agriculture_amount
Mapping col name of raw data from Q5_4 >> annual_salaried_amount
Mapping col name of raw data from Q5_5 >> annual_self_employed_nonagri_amount
Mapping col name of raw data from Q5_6 >> annual_agri_alliedwage_amount
Mapping col name of raw data from Q5_7 >> annual_nonagri_amount
Mapping col name of raw data from Q5_8 >> annual_income_other_sources
Mapping col name of raw data from Q6_1 >> annual_routine_expense_range
Mapping col name of raw data from Q6_2 >> annual_routine_expense_amount
Mapping col name of raw data from Q6_3 >> annual_food_athome_expense
Mapping col name of raw data from Q6_4 >> annual_food_dineout_expense
Mapping col name of raw data from Q6_5 >> annual_alcohol_expense
Mapping col name of raw data from Q6_6 >> annual_housing_expense
Mapping col name of raw data from Q6_7 >> annual_householdservices_expense
Mapping col name of raw data from Q6_8 >> annual_healthcare_expense
Mapping col name of raw data from Q6_9 >> annual_fitness_expense
Mapping col name of raw data from Q6_10 >> annual_transportation_expense
Mapping col name of raw data from Q6_11 >> annual_communication_expense
Mapping col name of raw data from Q6_12 >> annual_entertainment_expense
Mapping col name of raw data from Q6_13 >> annual_edu_expense
Mapping col name of raw data from Q6_14 >> annual_total_toynbabycare_expense
Mapping col name of raw data from Q6_15 >> annual_beauty_expense
Mapping col name of raw data from Q6_16 >> annual_apparelnfootwear_expense
Mapping col name of raw data from Q6_17 >> annual_consumerdurables_expense
Mapping col name of raw data from Q7_1 >> outstanding_debt_household_is
Mapping col name of raw data from Q7_2A_2 >> debt_personal_loan
Mapping col name of raw data from Q7_2A_3 >> debt_personal_loan_source
Mapping col name of raw data from Q7_2A_4 >> debt_personal_loan_secondary_source
Mapping col name of raw data from Q7_2A_6 >> debt_personal_loan_range_amount
Mapping col name of raw data from Q7_2A_7 >> debt_personal_loan_outstanding_amount
Mapping col name of raw data from Q7_2B_2 >> debt_home_loan_current_outstanding
Mapping col name of raw data from Q7_2B_3 >> debt_home_loan_source
Mapping col name of raw data from Q7_2B_4 >> debt_home_loan_secondary_source
Mapping col name of raw data from Q7_2B_6 >> debt_home_loan_range_amount
Mapping col name of raw data from Q7_2B_7 >> debt_home_loan_amount
Mapping col name of raw data from Q7_2C_2 >> debt_car_loan_current_outstanding
Mapping col name of raw data from Q7_2C_3 >> debt_car_loan_source
Mapping col name of raw data from Q7_2C_4 >> debt_car_loan_secondary_source
Mapping col name of raw data from Q7_2C_6 >> debt_car_loan_range_amount
Mapping col name of raw data from Q7_2C_7 >> debt_car_loan_amount
Mapping col name of raw data from Q7_2D_2 >> debt_two_w_current_outstanding
Mapping col name of raw data from Q7_2D_3 >> debt_two_w_scource
Mapping col name of raw data from Q7_2D_4 >> debt_two_w_secondary_source
Mapping col name of raw data from Q7_2D_6 >> debt_two_w_range_amount
Mapping col name of raw data from Q7_2D_7 >> debt_two_w_loan_amount
Mapping col name of raw data from Q7_2E_2 >> debt_gold_loan_current_outstanding
Mapping col name of raw data from Q7_2E_3 >> debt_gold_loan_source
Mapping col name of raw data from Q7_2E_4 >> debt_gold_loan_secondary_source
Mapping col name of raw data from Q7_2E_6 >> debt_gold_loan_range_amount
Mapping col name of raw data from Q7_2E_7 >> debt_gold_loan_amount
Mapping col name of raw data from Q7_2F_2 >> debt_agri_loan_current_outstanding
Mapping col name of raw data from Q7_2F_3 >> debt_agri_loan_source
Mapping col name of raw data from Q7_2F_4 >> debt_agri_loan_secondary_source
Mapping col name of raw data from Q7_2F_6 >> debt_agri_loan_range_amount
Mapping col name of raw data from Q7_2F_7 >> debt_agri_loan_loan_amount
Mapping col name of raw data from Q8_1 >> doctor_consulting_where
Mapping col name of raw data from Q8_2 >> doctor_consulting_reason
Mapping col name of raw data from Q8_3_1 >> health_insurance_cover_centralgovt_is
Mapping col name of raw data from Q8_3_2 >> health_insurance_cover_stategovt_is
Mapping col name of raw data from Q8_3_3 >> health_insurance_cover_employer_is
Mapping col name of raw data from Q8_3_4 >> health_insurance_cover_personal_is
Mapping col name of raw data from Q8_3_5 >> health_insurance_cover_none_is
Mapping col name of raw data from Q8_4 >> mediclain_none_reason
Mapping col name of raw data from Q8_5A >> annual_hospitalization_expenses
Mapping col name of raw data from Q8_5B >> annual_medicine_expenses
Mapping col name of raw data from Q8_5C >> annual_doctor_visit_expenses
Mapping col name of raw data from Q8_5D >> annual_doctor_travel_expenses
Mapping col name of raw data from Q8_5E >> annual_health_insurance_premium
Mapping col name of raw data from Q8_5F >> annual_health_expenses_others
Mapping col name of raw data from Q8_5G >> annual_routine_expenditure
Mapping col name of raw data from Q9_1A >> money_saved_or_invested_in_twentytwenty_is
Mapping col name of raw data from Q9_2A >> amount_saved_or_invested_in_twentytwenty_is
Mapping col name of raw data from Q9_3_1A >> cash_at_home
Mapping col name of raw data from Q9_3_2A >> banking_instrument
Mapping col name of raw data from Q9_3_3A >> capital_market
Mapping col name of raw data from Q9_3_4A >> post_office
Mapping col name of raw data from Q9_3_5A >> life_insurance
Mapping col name of raw data from Q9_3_6A >> informal_saving
Mapping col name of raw data from Q9_3_7A >> gold
Mapping col name of raw data from Q9_3_8A >> other_saving_instruments
Mapping col name of raw data from Q9_3_1b >> amount_saving_cash_at_home
Mapping col name of raw data from Q9_3_2b >> amount_saving_banking_instrument
Mapping col name of raw data from Q9_3_3b >> amount_saving_capital_market
Mapping col name of raw data from Q9_3_4b >> amount_saving_post_office
Mapping col name of raw data from Q9_3_5b >> amount_saving_life_insurance
Mapping col name of raw data from Q9_3_6b >> amount_saving_informal_saving
Mapping col name of raw data from Q9_3_7b >> amount_saving_gold
Mapping col name of raw data from Q9_3_8b >> amount_saving_other_saving_instruments
Mapping col name of raw data from Q10_1A >> ceiling_fan
Mapping col name of raw data from Q10_2A >> lpg_stove
Mapping col name of raw data from Q10_3A >> two_wheeler
Mapping col name of raw data from Q10_4A >> color_tv
Mapping col name of raw data from Q10_5A >> refrigerator
Mapping col name of raw data from Q10_6A >> washing_machine
Mapping col name of raw data from Q10_7A >> pc_laptop
Mapping col name of raw data from Q10_8A >> car
Mapping col name of raw data from Q10_9A >> ac
Mapping col name of raw data from Q10_10A >> agri_land
Mapping col name of raw data from Q10_11A >> tractor
Mapping col name of raw data from Q10_12A >> pump_set

In [81]:
price_data

,uuid,state_code,state_name,rural_or_urban,district_code,district_name,sub_district_name,town_name,location_code,ward_name,...,two_wheeler,color_tv,refrigerator,washing_machine,pc_laptop,car,ac,agri_land,tractor,pump_set
0,1,10,BIHAR,Urban,230,PATNA,DINAPUR-CUM-KHAGAUL,KHAGAUL (NAGAR PARISHAD),154,KHAGAUL (NAGAR PARISHAD) WARD NO.-0008,...,Yes,Yes,Yes,No,Yes,No,No,No,No,No
1,2,10,BIHAR,Urban,230,PATNA,DINAPUR-CUM-KHAGAUL,KHAGAUL (NAGAR PARISHAD),154,KHAGAUL (NAGAR PARISHAD) WARD NO.-0008,...,No,Yes,Yes,Yes,No,No,No,No,No,No
2,3,10,BIHAR,Urban,230,PATNA,DINAPUR-CUM-KHAGAUL,DINAPUR NIZAMAT (NAGAR PARISHAD),152,DINAPUR NIZAMAT (NAGAR PARISHAD) WARD NO.-0011,...,No,Yes,Yes,No,No,No,No,No,No,No
3,4,10,BIHAR,Rural,204,PURBA CHAMPARAN,HARSIDHI,0,190,MURARPUR,...,No,No,No,No,No,No,No,Yes,No,No
4,5,10,BIHAR,Rural,204,PURBA CHAMPARAN,GHORASAHAN,0,195,BAGAHI BHELWA,...,No,No,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40422,40423,19,WEST BENGAL,Urban,343,SOUTH TWENTY FOUR PARGANAS,BUDGE BUDGE - I,KOLKATA,2048,BUITA (CT) WARD NO.-0001,...,No,Yes,Yes,No,No,No,No,No,No,No
40423,40424,19,WEST BENGAL,Urban,343,SOUTH TWENTY FOUR PARGANAS,BUDGE BUDGE - I,KOLKATA,2048,BUITA (CT) WARD NO.-0001,...,Yes,Yes,Yes,No,No,No,No,No,No,No
40424,40425,19,WEST BENGAL,Urban,343,SOUTH TWENTY FOUR PARGANAS,BUDGE BUDGE - I,KOLKATA,2048,BUITA (CT) WARD NO.-0001,...,No,Yes,Yes,No,No,No,No,No,No,No
40425,40426,19,WEST BENGAL,Urban,343,SOUTH TWENTY FOUR PARGANAS,BUDGE BUDGE - I,KOLKATA,2048,BUITA (CT) WARD NO.-0001,...,No,Yes,Yes,No,No,No,No,No,No,No
40426,40427,19,WEST BENGAL,Urban,343,SOUTH TWENTY FOUR PARGANAS,BUDGE BUDGE - I,KOLKATA,2048,BUITA (CT) WARD NO.-0001,...,No,Yes,Yes,No,No,No,No,No,No,No